doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='ISA at UTSA', content='')
        meta(name='Utkarsh Singh', content='')

        title ISA - Indian Students' Association

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/india-flag-icon-256.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') ISA - Indian Students' Association
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Scholarships Awarded
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Checklist
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Masthead
        header.masthead
            .container.h-100
                .row.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h2.text-uppercase.text-white.font-weight-bold Welcome to ISA
                        hr.divider.my-4
                    .col-lg-8.align-self-baseline
                        p.text-white-75.font-weight-light.mb-5
                            | The Indian Students' Association (ISA) – a non-profit organization.
                        a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Find Out More

        // About
        section#about.page-section.bg-primary
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 We promote rich Indian culture and heritage.
                        hr.divider.light.my-4
                        p.text-black-50.mb-4
                            | We help new students to feel comfortable by resolving their queries before and after they arrive, introduce them to the city, provide airport pickups and temporary accommodation, help getting on campus jobs, etc.
                        p.text-black-50.mb-4
                            | We provide up to 6 scholarships every year to our registered members.
                        p.text-black-50.mb-4
                            | We have different events through out the year to cheer them up between the stress of studies, exams and assignments.
                        a.btn.btn-light.btn-xl.js-scroll-trigger(href='#services') Get Started!

        // Services
        section#services.page-section
            .container
                h2.text-center.mt-0 Scholarships Awarded (Spring 2019 - Now)
                hr.divider.my-4
                .row
                    .col-lg-4.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-book.text-primary.mb-4
                            //h3.h4.mb-2 Utkarsh Singh
                            a.d-block.h3.h4.mb-2.text-dark(href="https://www.singhutkarsh.com/", target="_blank") Utkarsh Singh
                            h3.h5.mb-2 Spring 2019
                            a.d-block(href='assets/docs/Utkarsh_Thank_You_note.pdf', target="_blank", Download='assets/docs/Utkarsh_Thank_You_note.pdf') Letter of gratitude to scholarship providers
                    .col-lg-4.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-book.text-primary.mb-4
                            a.d-block.h3.h4.mb-2.text-dark(href="https://www.linkedin.com/in/devapriya7797/", target="_blank") Deva Priya
                            h3.h5.mb-2 Fall 2019
                            //a.d-block(href='assets/docs/Utkarsh_Thank_You_note.pdf', target="_blank", Download='assets/docs/Deva_Priya_You_note.pdf') Letter of gratitude to providers
                    .col-lg-4.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-book.text-primary.mb-4
                            a.d-block.h3.h4.mb-2.text-dark(href="https://www.linkedin.com/in/divyashivakumar10/", target="_blank") Divya Shivakumar
                            h3.h5.mb-2 Spring 2020
                            a.d-block(href='assets/docs/Divya_Thank_You_note.pdf', target="_blank", Download='assets/docs/Divya_Thank_You_note.pdf') Letter of gratitude to scholarship providers

        
        // Portfolio
        div#portfolio
            .container-fluid.p-0
                .row.no-gutters
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/docs/travelinfo.pdf', Download='assets/docs/travelinfo.pdf')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg')
                            .portfolio-box-caption
                                .project-name
                                    | Travel information
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/docs/predepartureinformation.pdf', Download='assets/docs/predepartureinformation.pdf')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg')
                            .portfolio-box-caption
                                .project-name
                                    | Pre departure information
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/docs/pickuprequest.pdf', Download='assets/docs/pickuprequest.pdf')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg')
                            .portfolio-box-caption
                                .project-name
                                    | Pick up request information
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/docs/postarrivalinformation.pdf', Download='assets/docs/postarrivalinformation.pdf')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg')
                            .portfolio-box-caption
                                .project-name
                                    | Post arrival information
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/docs/housinginformation.pdf', Download='assets/docs/housinginformation.pdf')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg')
                            .portfolio-box-caption
                                .project-name
                                    | Housing information
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/docs/bankinformation.pdf', Download='assets/docs/bankinformation.pdf')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg')
                            .portfolio-box-caption.p-3
                                .project-name
                                    | Bank Information
        
        // Call to action
        section.page-section.bg-dark.text-white
             .container.text-center
                h2.mb-4 Checklists - before and after your arrival at San Antonio airport
                hr.divider.my-4
                .row
                    .container.text-center
                        h5.mb-2 Ctlr + Click on the links above to download the files. 
                .row
                    .container.text-center
                        h5.mb-2 OR
                .row
                    .container.text-center
                        h5.mb-2 Open the above links in a new tab to download respective files. 
                        p
                            
        // Contact
        section#contact.page-section
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.mt-0 Let's Get In Touch!
                        hr.divider.my-4
                        p.text-muted.mb-1
                            a.d-block(href='https://www.facebook.com/groups/isa.utsa', target="_blank") Facebook group
                        p.text-muted.mb-1
                            a.d-block(href='https://chat.whatsapp.com/Iogmo7HLEOGB8P9ksLJHrQ', target="_blank") Housing WhatsApp group
                        p.text-muted.mb-1
                            a.d-block(href='https://chat.whatsapp.com/LAiZaq4Z4wyJkGIHm2Ij1V', target="_blank") PickUp WhatsApp group
                        p.text-muted.mb-1
                            a.d-block(href='https://chat.whatsapp.com/Gyz620J9v9nFqQL9rvoxJP', target="_blank") UTSA official group
                        p.text-muted.mb-1
                            a.d-block(href='mailto:isa.utsa@gmail.com') ISA e-mail
                        p.text-muted.mb-5
                            a.d-block(href='https://forms.gle/myhZ8FHYqmH56eZw9', target="_blank") ISA Membership form
                        
                p.text-muted.d-block
                .row
                    .col-lg-3.ml-auto.text-center.mb-5.mb-lg-0
                        i.fas.fa-phone.fa-3x.mb-3.text-muted
                        div Saketh Ram Peri (President)
                        a.d-block(href='tel:+18322788002') +1 (832) 278-8002
                        p
                        img.container.text-center(src='assets/img/portfolio/thumbnails/saketh.jpg')
                    .col-lg-3.ml-auto.text-center.mb-5.mb-lg-0
                        i.fas.fa-phone.fa-3x.mb-3.text-muted
                        div Pratik Mitra (Vice-President)
                        a.d-block(href='tel:+12105290509') +1 (210) 529-0509
                        p
                        img.container.text-center(src='assets/img/portfolio/thumbnails/pratik.jpg')
                    .col-lg-3.ml-auto.text-center.mb-5.mb-lg-0
                        i.fas.fa-envelope.fa-3x.mb-3.text-muted
                        div Divya Shivakumar (Treasurer)
                        a.d-block(href='mailto:divyashivakumar10@gmail.com') divyashivakumar10@gmail.com
                        p
                        img.container.text-center(src='assets/img/portfolio/thumbnails/divya.jpg')
                    .col-lg-3.ml-auto.text-center.mb-5.mb-lg-0
                        i.fas.fa-phone.fa-3x.mb-3.text-muted
                        div Rini Joshi (Secretary)
                        a.d-block(href='tel:+12106369488') +1 (210) 636-9488
                        p
                        img.container.text-center(src='assets/img/portfolio/thumbnails/rini.jpg')    

        // Footer
        footer.bg-light.py-5
            .container
                .small.text-center.text-muted Copyright © 2020 - Start Bootstrap
                .small.text-center.text-muted Website maintained by 
                a.d-block.h3.h4.text-center.small.mb-2.text-dark(href="https://www.singhutkarsh.com/", target="_blank") Utkarsh Singh

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

        // Core theme JS
        script(src='js/scripts.js')
